# Set after browser deployment, or let the Admin page save it to localStorage.
VITE_MIDNIGHT_NETWORK=preprod
VITE_CONTRACT_ADDRESS=01425e5fd78c1e07bfb45b267b58f8db56ea52d93cbde28c0705902f9bcd87d8
VITE_INDEXER_URL=https://indexer.preprod.midnight.network/api/v4/graphql
VITE_INDEXER_WS=wss://indexer.preprod.midnight.network/api/v4/graphql/ws
